
@font-face {
  font-family: 'change'; /*a name to be used later*/
  src: url('../fonts/font.ttf'); /*URL to font*/
}


body{
	background-color: #374146;
	font-family: 'change'!important;
}

.first-paragraph{
	font-size: 17px;
}

.logo{
    margin-bottom: -72px;
    height: 166px;
}

.advice{
	margin-left: 120px;
}

.full-text{
	text-align: justify;
}

.spacer-10{
	margin-top: 10px;
}.spacer-20{
	margin-top: 20px;
}.spacer-30{
	margin-top: 30px;
}.spacer-40{
	margin-top: 40px;
}.spacer-50{
	margin-top: 50px;
}.spacer-60{
	margin-top: 60px;
}.spacer-70{
	margin-top: 70px;
}.spacer-80{
	margin-top: 80px;
}.spacer-90{
	margin-top: 90px;
}.spacer-100{
	margin-top: 100px;
}.spacer-200{
	margin-top: 200px;
}

.btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #777777;
    
}
.rc-anchor-light {
    background: #f9f9f9;
    border: 0px solid #d3d3d3!important
    color: #000;
    width: 298px;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #BDC1C3!important;
    border-radius: 3;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
}

.modalPayment {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #60796F!important;
    padding: 0;
    max-height: 75%;
    width: 26%!important;;
    margin: auto;
    overflow-y: auto;
    border-radius: 22px!important;
    will-change: top, opacity;
    top: 40%!important;
}
.modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #FAEBD7!important;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
}